{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": ["react-app", "prettier"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      },
      "typescript": {
        "alwaysTryTypes": false
      }
    }
  },
  "rules": {
    "no-restricted-globals": "off",
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "internal", ["sibling", "parent", "index"], "type", "unknown"],
        "pathGroups": [
          {
            "pattern": "{react*,react*/**}",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "@/**",
            "group": "internal",
            "position": "after"
          }
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "pathGroupsExcludedImportTypes": ["react", "unknown"],
        "newlines-between": "always"
      }
    ],
    "react-hooks/exhaustive-deps": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "react/jsx-filename-extension": "off",
    "no-param-reassign": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/no-array-index-key": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "no-console": "off",
    "no-shadow": "off",
    "@typescript-eslint/naming-convention": "off",
    "@typescript-eslint/no-shadow": "off",
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/no-autofocus": "off",
    "array-callback-return": "off",
    "no-useless-concat": "off",
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@mui/*/*/*", "!@mui/material/test-utils/*"]
      }
    ],
    "react-hooks/rules-of-hooks": "off"
  }
}
